.div1{
    background-color: yellow;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    height: 50px;
}
.div2{
    background-color: yellow;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    height: 30px;
    width: 50px;
}
.div3{
    background-color: yellow;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
/* flexbox */
.flex-container1{
    display: flex;
    background-color:blue;
}
.flex-container1m{
    display: flex;
    background-color:blue;
    margin: 50px;
}
/* flex direction */
.flex-container1c{
    display: flex;
    background-color:blue;
    flex-direction: column;
}
.flex-container1cr{
    display: flex;
    background-color:blue;
    flex-direction: column-reverse;
    margin-top: 50px;
}
.flex-container1r{
    display: flex;
    background-color:blue;
    flex-direction: row;
    margin-top: 50px;
}
.flex-container1rr{
    display: flex;
    background-color:blue;
    flex-direction: row-reverse;
    margin-top: 50px;
}
/* flex wrap */
.flex-container1w{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-wrap: wrap;
}
.flex-container1nw{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-wrap: nowrap;
}
.flex-container1wr{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
}
/* flex flow */
.flex-container1rw{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-flow: row wrap;
}
.flex-container1cw{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-flow: column wrap;
}
.flex-container1cw{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-flow: column wrap;
}
.flex-container1cw{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    flex-flow: column wrap;
}
/* justify content */
.flex-container1jc{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: center;
}
.flex-container1je{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: flex-end;
}
.flex-container1js{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: flex-start;
}
.flex-container1sa{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: space-around;
}
.flex-container1sb{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: space-between;
}
.flex-container1se{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    justify-content: space-evenly;
}
/* align items */
.flex-container1aic{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    align-items: center;
    min-height: 200px;
    flex-wrap: wrap;
}
.flex-container1aib{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    align-items: baseline;
    min-height: 200px;
    flex-wrap: wrap;

}
.flex-container1aie{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    align-items: flex-end;
    min-height: 200px;
    flex-wrap: wrap;

}
.flex-container1ais{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    align-items: flex-start;
    min-height: 200px;
    flex-wrap: wrap;

}
.flex-container1aisb{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    background: blue;
    margin-top: 50px;
}
.flex-container1aisa{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-around;
    background: blue;
    margin-top: 50px;

}
.flex-container1aisr{
    display: flex;
    background-color:blue;
    margin-top: 50px;
    align-items: stretch;
    min-height: 200px;
    flex-wrap: wrap;

}
.flex-container1aise{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-evenly;
    background: blue;
    margin-top: 50px;
}






